/*responsive*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;

}

/* @media (max-width:640px)
{
 
} */
/*general*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #B8996B;
}

header {
    display: flex;
    background-color: #D6D2CD;
    border: 3px black solid;
}

/*lien*/
a:link,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;

}


main li:hover {
    color: rgb(0, 0, 0);
    background-color: aqua;
}


/*header*/

.titre {
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 4px #000000;
    color: rgb(0, 0, 0);

}

.banniere {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;

}

.banniere li {
    margin-right: 5%;
}

.CHECK {
    display: flex;
    font-size: 60%;
    text-align: flex-end;
    justify-content: center;
}

/* main */

main {
    height: 80%;
    margin: 0 4%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

main ul {
    padding: 5% 15%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

main ul li {
    text-align: center;
    background-color: #B28E8E;
    padding: 5px 10px;
    margin-bottom: 10px;
}


/*footer*/

footer {
    display: flex;
    font-size: 20px;
    justify-content: center;
}