/*responsive*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;

}

/* general */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #B8996B;
}

/*header*/
header {
    display: flex;
    background-color: #D6D2CD;
    border: 3px black solid;
}

.titre {
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 4px #000000;
    color: rgb(0, 0, 0);

}

.banniere {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;

}

.banniere li {
    margin-right: 5%;
}

.CHECK {
    display: flex;
    font-size: 60%;
    text-align: flex-end;
    justify-content: center;
}


/* lien */

a:link {

    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {

    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
    color: rgb(0, 0, 0);
}

/* nav */
.titre {
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 4px #000000;
    color: rgb(0, 0, 0);

}

.banniere {
    display: flex;
    font-size: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;

}

.banniere li {
    margin-right: 5%;
    text-shadow: 3px 5px #00000065;
}

.CHECK {
    display: flex;
    font-size: 60%;
    text-align: flex-end;
    justify-content: center;
}

/* slider */

#slider {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}

.caroussel {
    display: flex;
    align-items: center;
    width: 321px;
    overflow: hidden;
    border: 19px #000000 double;
    box-shadow: 15px 15px 15px -5px rgba(0, 0, 0, 0.493);
}

.box {
    display: flex;
    animation-duration: 11s;
    animation-name: Image1;
    animation-iteration-count: infinite;
}

@keyframes Image1 {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-321px);
    }

    66% {
        transform: translateX(-642px);
    }

    100% {
        transform: translateX(0);
    }
}

.caroussel2 {
    display: flex;
    align-items: center;
    width: 321px;
    overflow: hidden;
    border: 19px #000000 double;
    box-shadow: 15px 15px 15px -5px rgba(0, 0, 0, 0.493);
}

.box2 {
    display: flex;
    animation-duration: 14s;
    animation-name: Image2;
    animation-iteration-count: infinite;
}

@keyframes Image2 {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-321px);
    }

    66% {
        transform: translateX(-642px);
    }

    100% {
        transform: translateX(0);
    }
}

.caroussel3 {
    display: flex;
    align-items: center;
    width: 321px;
    overflow: hidden;
    border: 19px #000000 double;
    box-shadow: 15px 15px 15px -5px rgba(0, 0, 0, 0.493);
}

.box3 {
    display: flex;
    animation-duration: 10s;
    animation-name: Image3;
    animation-iteration-count: infinite;
}

@keyframes Image3 {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-321px);
    }

    66% {
        transform: translateX(-642px);
    }

    100% {
        transform: translateX(0);
    }
}

img{
    width: 321px;
    height: 321px;
}