/*responsive*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/*fin responsive*/

/*general*/

*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}

header {
    background-color: white;
}

/*lien*/
a:link {

    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {

    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {

    color: rgb(0, 0, 0);
}

/*fin lien*/

/*header*/
.banniere {
    display: flex;
    font-size: 100%;
    list-style-type: none;
    justify-content: flex-end;
}

.banniere li{
    margin-right: 5%;
}

.CHECK {
    display: flex;
    font-size: 60%;
    text-align: flex-end;
    justify-content: center;
}

/*formulaire*/

.fond{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/vue-de-villa-moderne-avec-la-piscine-pendant-la-nuit-91453234.jpg);
    display: flex;
    height: 93%;
    align-content: center;
    justify-content: center;
   
}
.reservation {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.formulaire {
    padding: 5%;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.formulaire li{
    padding: 1%;
    text-align: center;

}

  /*fin formulaire*/

/*footer*/

p{
    color: rgb(255, 255, 255);  
    position: relative;
    top: 40%;
}   